.main__item-date {
   color: #BFC1C8;
   background-color: rgb(45, 48, 61);
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 14px;
   border-radius: 15px 0 0 0;
   padding: 5px 15px;
}

.card__body {
   border-radius: 0px 0px 0px 15px;
   padding: 30px 20px;
   background-color: rgb(50, 53, 68);
   height: 250px;
}

.card__city {
   color: #BFC1C8;
   font-size: 18px;
}

.card__weather {
   display: flex;
}

.card__temp {
   font-size: 90px;
   font-weight: 700;
   color: #fff;
}

.details {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: #BFC1C8;
   font-weight: 300;
}

.det {
   display: flex;
}

.humidity__img {
   width: 21px;
   height: 21px;
   background: url('../../../../img/humidity.png') center / contain;
   margin-right: 10px;
}

.wind__img {
   margin-right: 10px;
   width: 21px;
   height: 21px;
   background: url('../../../../img/wind.png') center / contain;
}

.preassure__img {
   margin-right: 10px;
   width: 21px;
   height: 21px;
   background: url('../../../../img/gauge.png') center / contain;
}