.header__logo {
   display: flex;
   align-items: center;
}

.header__logo-img {
   transform: rotate3d(1, 1, 1, 0deg);
   width: 64px;
   height: 64px;
   margin-right: 15px;
   background: url('../../../img/logoWeather.png')center / contain no-repeat;
   animation-name: logo;
   animation-duration: 4s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

@keyframes logo{
   0%{
      transform: rotate3d(0, 0, 0, 0deg);
   }

   100%{
      transform: rotate3d(0, 1, 0, 360deg);
   }
}

.header__logo-name h1{
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 5px;
   white-space: nowrap;
}

.header__logo-subname h2{
   font-size: 12px;
   font-weight: 300;
   white-space: nowrap;
}