.container {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 15px;
   height: 100%;
}

.header {
   position: relative;
   z-index: 3;
   height: 130px;
   background-color: #1E202B;
   color: #fff;
}

.header__content {
   display: flex;
   justify-content: space-between;
   height: 100%;
   align-items: center;
}

@import './HeaderList/HeaderList.css';

@import './Burger/Burger.css';

@import './BurgerLinks/BurgerLinks.css'


