*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
   font-size: 16px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body {
   font-family: 'Roboto';
}

@import './_components/Header/Header.css';
@import './_components/Main/Main.css';



@media(max-width: 1000px) {
   .weather__days {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 250px 250px;
      row-gap: 25px;
   }

   .weather__main-item {
      grid-column: 1 / 8;
   }
}

@media(max-width: 830px) {
   .header {
      height: 100px;
   }

   .header__list li {
      margin-left: 35px;
   }
}

@media(max-width: 720px) {
   .header {
      height: 80px;
   }

   .header__list {
      display: none;
   }

   .header__burger {
      display: block;
   }

   .menu {
      display: block;
   }

   .menu.mdeact {
      display: none;
   }

   .search {
      margin-bottom: 70px;
      margin-top: -1190px;
   }
}

@media(max-width: 550px) {
   .weather__days {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 250px 250px 250px;
      row-gap: 25px;
   }

   .weather__main-item {
      grid-column: 1 / 4;
   }
}

@media(max-width: 420px) {
   .search__button {
      padding: 12px 20px;
   }
}

@media(max-width: 370px) {
   .search__form {
      display: flex;
      justify-content: space-between;
   }
   .search__input {
      width: 100%;
   }
}
